<!DOCTYPE html>

<html lang="jp">

<head>
  <!--
    meta tags
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink=to=fit=no">
  <!--
    Bootstrap CSS
  -->
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <!--
    title
  -->
  <title>BookManagementSystem</title>
</head>

<body>
  <!--
    Main Structure
  -->
  <h1>Book Management System v1.0</h1>

  <!--
    Card Views
  -->

  <div class="card-columns">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="static/img/book_sample.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick exapmle text to build on the card title.</p>
        <a href="#" class="btn btn-primary" ?>Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="static/img/book_sample.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick exapmle text to build on the card title.</p>
        <a href="#" class="btn btn-primary" ?>Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="static/img/book_sample.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick exapmle text to build on the card title.</p>
        <a href="#" class="btn btn-primary" ?>Go somewhere</a>
      </div>
    </div>


  </div>
  <!--
    Java Script
  -->
  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.bundle.min.js"></script>
</body>

</html>
